* {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    --main-bg-color: black;
    --red: #DA4322;
    --green: #148F3A;
    --yellow: #F5E827;
    --blue: #138ACC;
    --white: white;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
  }

  main {
    display: flex;
  }

  main * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    display: grid;
    grid-gap: 3vmin;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* border: 1px solid red; */
  }

  section > div {
    height: 40vmin;
    width: 40vmin;
    /* border: 1px solid blue; */
  }

  #board > .clrbtns:hover {
    transform: scale(0.97);
    transition: transform 100ms ease-in;
    transform: perspective(500px) translateZ(-10px);
  }

  #red {
    background-color: var(--red);
    border-radius: 100% 0 0 0;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
  
  #grn {
    background-color: var(--green);
    border-radius: 0 100% 0 0;
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
  }
  
  #yel {
    background-color: var(--yellow);
    border-radius: 0 0 100% 0;
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
  }
  
  #blu {
    background-color: var(--blue);
    border-radius: 0 0 0 100%;
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
  }
  
  h1 {
    color: white;
    font-size: 6vmin;
    font-family: 'Ubuntu', sans-serif;
  }

  span {
    color: white;
    font-size: 3.5vmin;
    margin: 1vmin;
  }
  
  button {
    text-align: center;
    font-size: 3vmin;
    width: 18vmin;
    height: 6vmin;
    background-color: darkgrey;
    color: var(--white);
    border: 1px solid grey;
    border-radius: 1vmin 1vmin 1vmin 1vmin;
  }
  
  button:hover {
    transform: scale(0.97);
    transition: transform 50ms ease-in;
    color: white;
    background-color: grey;
  }
  
  #gameControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
  }

  .counts {
    margin-top: 1vmin;
  }

  #ctr {
    background-color: var(--white);
    border-radius: 50%;
    border: 3vmin solid black;
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    transform: perspective(500px) translateZ(5px);
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #gameControls {
        margin-top: 10vmin;
        flex-direction: column-reverse;
    }

    span {
        font-size: 5vmin;
    }

    button {
        width: 30vmin;
        height: 10vmin;
        font-size: 5vmin;
    }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    section > div {
        height: 35vmin;
        width: 35vmin;
        /* border: 1px solid blue; */
      }

      h1 {
        margin-top: 0;
      }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}